/* body {
	background-color: wheat;
} */
 .navbar {
 /*  overflow: hidden; */
  background-color: #C0C0C0;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left:-.5em;
  height:18%
}

.navbar a {
  float: right;
  display: block;
  color: cornsilk;
  text-align: center;
  padding: 31px 36px;
  text-decoration: none;
  font-size: 17px;
  font-family:Sans-serif;
}

.navbar a:hover {
 /*  background: #ddd; */
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
/*   height: 1500px; */ /* Used in this example to enable scrolling */
}
